################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*storage.ide-wal
*storage.ide-shm
*storage.ide
*.suo
/*/[O][o]bj/
/*/[B][b]in/
/*/[O][o]bj/*.*
/*/[B][b]in/*.*
/*/[O][o]bj/[D][d]ebug/
/*/[B][b]in/[D][d]ebug/
/*/[O][o]bj/[R][r]eleased/
/*/[B][b]in/[R][r]eleased/
/*/[O][o]bj/[D][d]ebug/*.*
/*/[B][b]in/[D][d]ebug/*.*
/*/[O][o]bj/[R][r]eleased/*.*
/*/[B][b]in/[R][r]eleased/*.*
.vs/*.*
*.txt

/XPW.AccessCredentials/bin/*.dll
/XPW.AccessCredentials/bin/*.pdb
/XPW.AccessCredentials/bin/*.config
/XPW.AccessCredentials/bin/*.xml
/XPW.AccessCredentials/obj/Debug/*.dll
/XPW.AccessCredentials/obj/Debug/*.pdb
/XPW.AccessCredentials/obj/Debug/*.cache
/XPW.AccessCredentials/obj/Debug/*.CopyComplete

/XPW.Clients/bin/*.dll
/XPW.Clients/bin/*.pdb
/XPW.Clients/bin/*.config
/XPW.Clients/bin/*.xml
/XPW.Clients/obj/Debug/*.dll
/XPW.Clients/obj/Debug/*.pdb
/XPW.Clients/obj/Debug/*.cache
/XPW.Clients/obj/Debug/*.CopyComplete

/XPW.DeviceManagement/bin/*.dll
/XPW.DeviceManagement/bin/*.pdb
/XPW.DeviceManagement/bin/*.config
/XPW.DeviceManagement/bin/*.xml
/XPW.DeviceManagement/obj/Debug/*.dll
/XPW.DeviceManagement/obj/Debug/*.pdb
/XPW.DeviceManagement/obj/Debug/*.cache
/XPW.DeviceManagement/obj/Debug/*.CopyComplete

/XPW.MainAPI/bin/*.dll
/XPW.MainAPI/bin/*.pdb
/XPW.MainAPI/bin/*.config
/XPW.MainAPI/bin/*.xml
/XPW.MainAPI/obj/Debug/*.dll
/XPW.MainAPI/obj/Debug/*.pdb
/XPW.MainAPI/obj/Debug/*.cache
/XPW.MainAPI/obj/Debug/*.CopyComplete

/XPW.NoSQL/bin/*.dll
/XPW.NoSQL/bin/*.pdb
/XPW.NoSQL/bin/*.config
/XPW.NoSQL/bin/*.xml
/XPW.NoSQL/obj/Debug/*.dll
/XPW.NoSQL/obj/Debug/*.pdb
/XPW.NoSQL/obj/Debug/*.cache
/XPW.NoSQL/obj/Debug/*.CopyComplete

/XPW.Reports/bin/*.dll
/XPW.Reports/bin/*.pdb
/XPW.Reports/bin/*.config
/XPW.Reports/bin/*.xml
/XPW.Reports/obj/Debug/*.dll
/XPW.Reports/obj/Debug/*.pdb
/XPW.Reports/obj/Debug/*.cache
/XPW.Reports/obj/Debug/*.CopyComplete

/XPW.Transactions/bin/*.dll
/XPW.Transactions/bin/*.pdb
/XPW.Transactions/bin/*.config
/XPW.Transactions/bin/*.xml
/XPW.Transactions/obj/Debug/*.dll
/XPW.Transactions/obj/Debug/*.pdb
/XPW.Transactions/obj/Debug/*.cache
/XPW.Transactions/obj/Debug/*.CopyComplete

/XPW.UserAuthToken/bin/*.dll
/XPW.UserAuthToken/bin/*.pdb
/XPW.UserAuthToken/bin/*.config
/XPW.UserAuthToken/bin/*.xml
/XPW.UserAuthToken/obj/Debug/*.dll
/XPW.UserAuthToken/obj/Debug/*.pdb
/XPW.UserAuthToken/obj/Debug/*.cache
/XPW.UserAuthToken/obj/Debug/*.CopyComplete

/XPW.WhiteLabel/bin/*.dll
/XPW.WhiteLabel/bin/*.pdb
/XPW.WhiteLabel/bin/*.config
/XPW.WhiteLabel/bin/*.xml
/XPW.WhiteLabel/obj/Debug/*.dll
/XPW.WhiteLabel/obj/Debug/*.pdb
/XPW.WhiteLabel/obj/Debug/*.cache
/XPW.WhiteLabel/obj/Debug/*.CopyComplete

/XPW.BackOffice/bin/*.dll
/XPW.BackOffice/bin/*.pdb
/XPW.BackOffice/bin/*.config
/XPW.BackOffice/bin/*.xml
/XPW.BackOffice/obj/Debug/*.dll
/XPW.BackOffice/obj/Debug/*.pdb
/XPW.BackOffice/obj/Debug/*.cache
/XPW.BackOffice/obj/Debug/*.CopyComplete

/XPW.NoSQLDemo/bin/*.dll
/XPW.NoSQLDemo/bin/*.pdb
/XPW.NoSQLDemo/bin/*.config
/XPW.NoSQLDemo/bin/*.xml
/XPW.NoSQLDemo/obj/Debug/*.dll
/XPW.NoSQLDemo/obj/Debug/*.pdb
/XPW.NoSQLDemo/obj/Debug/*.cache
/XPW.NoSQLDemo/obj/Debug/*.CopyComplete

*.lastcodeanalysissucceeded
