################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*storage.ide-wal
*storage.ide-shm
*storage.ide
*.suo
